body{
    background-color: #f9f9f9;
    margin: 20px;
}
h1{
    text-align: center;
    font-family: 'Arial Black', sans-serif;
    color: #333333;
}
img{
    border-radius: 10px;
    position: relative;
    left: 150px;
}
.article{
    display: grid;
    grid-template-areas: 'img1 title1'
                         'img2 title2'
                         'img3 title3';
    grid-gap: 20px;
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

br{
    margin-bottom: 10px;
    line-break: 10px;
}
h3{
    color: #555555;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: bold;
    width: 500px;
    position: relative;
    left: -50px;
}

@media (min-width:1220px){
    img{
        position: relative;
        left: 200px;
    }
    #thing{
        position: relative;
        left: 200px;
    }
}
@media screen and (min-width: 200px) and (max-width: 1220px){
    h3{
        width: 300px;
        left: -10px;
        font-size:15px;
        width: 20ch;
    }
    #thing{
        position: relative;
        left: 50px;
    }
}
@media screen and (min-width: 800px){
    img{
        position: relative;
        left: 100px;
    }
    h3{
        font-size: 20px;
    }
    #thing{
        position: relative;
        left: 150px;
    }
}

@media screen and (min-width: 1300px){
    img{
        position: relative;
        left: 280px;
    }
}
